<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>ng-isc by praxigento</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1>ng-isc</h1>
        <h2>Isomorphic SmartClient Angular (AngularJS) adapter</h2>
        <a href="https://github.com/praxigento/ng-isc" class="button"><small>View project on</small>GitHub</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          <h3>
<a name="isomorphic-smartclient-widgets-library-for-angularjs" class="anchor" href="#isomorphic-smartclient-widgets-library-for-angularjs"><span class="octicon octicon-link"></span></a>Isomorphic SmartClient Widgets Library for AngularJS.</h3>

<p>Allows you to use Isomorphic SmartClient (ISC) Library widgets in AngularJS projects.</p>

<pre><code>   &lt;!doctype html&gt;
   &lt;html ng-app="sampleApp"&gt;
   &lt;head&gt;
       &lt;!-- setup Isomorphic SmartClient --&gt;
       &lt;script&gt;var isomorphicDir = "lib/isomorphic/";&lt;/script&gt;
       &lt;script src="lib/isomorphic/system/modules/ISC_Core.js"&gt;&lt;/script&gt;
       &lt;script src="lib/isomorphic/system/modules/ISC_Foundation.js"&gt;&lt;/script&gt;
       &lt;script src="lib/isomorphic/system/modules/ISC_Containers.js"&gt;&lt;/script&gt;
       &lt;script src="lib/isomorphic/system/modules/ISC_Grids.js"&gt;&lt;/script&gt;
       &lt;script src="lib/isomorphic/system/modules/ISC_Forms.js"&gt;&lt;/script&gt;
       &lt;script src="lib/isomorphic/system/modules/ISC_DataBinding.js"&gt;&lt;/script&gt;
       &lt;script src="lib/isomorphic/system/modules/ISC_RichTextEditor.js"&gt;&lt;/script&gt;
       &lt;script src="lib/isomorphic/skins/SmartClient/load_skin.js"&gt;&lt;/script&gt;

       &lt;script src="lib/js/angular.min.js"&gt;&lt;/script&gt;

       &lt;script src="ng-isc.js"&gt;&lt;/script&gt;

       &lt;style type="text/css"&gt;
           html, body {
               height: 100%;
               margin: 0px;
               padding: 0px;
           }


           .full {
               width: 100%;
               height: 100%;
           }
       &lt;/style&gt;
   &lt;/head&gt;
   &lt;body ng-controller="SampleCtrl"&gt;
       &lt;!--root isomorphic directive must be defined as attribute in valid html tag, because ISC control get his dimensions--&gt;
       &lt;div class="full" isc-v-layout sc-width="'100%'" sc-height="'100%'"&gt;
           &lt;isc-list-grid sc-width="'100%'" sc-height="'50%'" sc-fields="fields" sc-data="data" ng-model="value"
                          sc-show-resize-bar="true" sc-on-row-double-click="onDoubleClick"&gt;&lt;/isc-list-grid&gt;
           &lt;isc-dynamic-form sc-width="'100%'" sc-height="'*'" sc-fields="fields" ng-model="value"&gt;&lt;/isc-dynamic-form&gt;
           &lt;isc-rich-text-editor sc-width="'100%'" sc-height="'10%'" ng-model="out"&gt;&lt;/isc-rich-text-editor&gt;
       &lt;/div&gt;

       &lt;script type="text/javascript"&gt;
           angular.module('sampleApp', ['ng-isc']).controller('SampleCtrl', ['$scope', function ($scope) {
               $scope.fields = [
                   {name: 'name'},
                   {name: 'value'}
               ];
               $scope.data = [
                   {name: 'one', value: 1},
                   {name: 'two', value: 2},
                   {name: 'three', value: 3}
               ];
               $scope.out = '';
               $scope.onDoubleClick = function (record, recordNum, fieldNum) {
                   $scope.out += 'Record ' + recordNum + ' double clicked&lt;br&gt;';
               };
           }]);
       &lt;/script&gt;
   &lt;/body&gt;
   &lt;/html&gt;</code></pre>

<p>In order to create ISC control, you must use directive with the name of ISC control class name and prefix 'isc'. For example, if you want to create ListGrid widget, you must use directive 'iscListGrid' as a tag name or attribute.</p>

<p>Each property of ISC control which can be put in create(props) function or set by a setter, can be determined through attribute with prefix 'sc-' and a name of a property. For example, for the property showEdges you must add attribute sc-show-edges="true". All 'sc-' attributes values are evaluated before use, i.e. all strings must be quoted with single-quotes (sc-name="'Hello world!'" or sc-name="'Hello {{name}}!'").</p>

<p>In order to subscribe to ISC control events you must use the attributes with prefix 'sc-on-'.</p>

<p>Also you can initialize ISC control by passing config object through attribute 'sc-config-object'.</p>

<pre><code>    // controller
    function SampleCtrl($scope) {
        $scope.config = {
            width: '100%',
            height: '100%'
        };
    }

    // html
    &lt;isc-h-layout sc-config-object="config"&gt;&lt;/isc-h-layout&gt;</code></pre>

        </section>

        <aside id="sidebar">
          <a href="https://github.com/praxigento/ng-isc/zipball/master" class="button">
            <small>Download</small>
            .zip file
          </a>
          <a href="https://github.com/praxigento/ng-isc/tarball/master" class="button">
            <small>Download</small>
            .tar.gz file
          </a>

          <p class="repo-owner"><a href="https://github.com/praxigento/ng-isc"></a> is maintained by <a href="https://github.com/praxigento">praxigento</a>.</p>

          <p>This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the Architect theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.</p>
        </aside>
      </div>
    </div>

  
  </body>
</html>